<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Windows 发展史</title>
  <meta name="author" content="Jake Rocheleau">
  <link rel="shortcut icon" href="http://static.tmimgcdn.com/img/favicon.ico">
  <link rel="icon" href="http://static.tmimgcdn.com/img/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap-glyphicons.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
<div class="container" id="app">
  <header class="page-header">
    <h1>Windows 发展史</h1>
  </header>
  <ul class="timeline">

    <div v-for="(data,index) in datas">
      <li><div v-bind:class="['tldate',isHidden(data)]">{{data.date}}</div></li>
    
      <li v-bind:class="isInverted(index)">
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>{{data.heading}}</h4>
            <p></p>
          </div>
          <div class="tl-body">
            <p>{{data.body}}</p>
          </div>
          <button class="btn btn-primary pull-right" @click="deleteThing(data.id,index)">删除</button>
        </div>
      </li>
    </div>
    
  </ul>
  <h2 style="position: relative;color: white" class="text-center">添加新事件</h2>
  <ul class="timeline">
    <li><div class="tldate"><input type="number" class="form-control text-center" placeholder="年份" v-model="newDate"></div></li>
    
    <li>
      <div class="timeline-panel">
        <div class="tl-heading">
          <input type="text" class="form-control" placeholder="标题" v-model="newHeading">
          <p></p>
        </div>
        <div class="tl-body">
          <textarea class="form-control" placeholder="详情" v-model="newBody"></textarea>
        </div>
        <p></p>
        <button class="btn btn-primary" @click="newThing();">提交</button>
      </div>
    </li>
  </ul>
</div>

<script src="js/vm.js"></script>
</body>
</html>
